/* Стилі для блоку зверху */
.top-block {
  height: 100px;
  background-color: #333;
  color: white;
}

/* Стилі для меню зверху */
.top-menu {
  text-align: center;
  padding-top: 15px;
  background-color: #f8f9fa;
}

/* Стилі для меню знизу */
.bottom-menu {
  height: 50px;
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 15px;
}
