

/* Стилі для меню зверху */
.top-menu {
  text-align: center;
  padding-top: 15px;
  background-color: #f8f9fa;
}

/* Стилі для меню знизу */
.bottom-menu {
  height: 50px;
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 15px;
}
.top-block {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.duck-image {
  height: 100px;
  object-fit: cover;
}

/* Стилі для картки */

